aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
click==8.3.3
fastapi==0.136.1
frozenlist==1.8.0
gevent==26.4.0
greenlet==3.5.0
h11==0.16.0
httptools==0.7.1
idna==3.13
multidict==6.7.1
nodejs-wheel-binaries==24.15.0
propcache==0.4.1
pydantic==2.13.3
pydantic_core==2.46.3
python-dotenv==1.2.2
pytubefix==10.5.0
PyYAML==6.0.3
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
uvloop==0.22.1
watchfiles==1.1.1
websocket==0.2.1
websockets==16.0
yarl==1.23.0
yt-dlp==2026.3.17
zope.event==6.2
zope.interface==8.4
